<div class="card">
  <div class="card-block">
    <div class="card-title">
      
    <h4 class="card-title">Enliven Art Studio <small>| Concept</small></h4>
    <p><span style="text-transform:lowercase;">Owner: </span>Sapna Asnotkar</p>
  </div>

  <div class="card-text" style="padding-right:40px;">
    <p style="font-weight:800; font-size:15px;">Background:</p>
    <p>
      The idea was to create a minimalistic, distraction free landing page to showcase the work Sapna did at Enliven Art Studio;
      while listing the services this graphic design firm offered.
    </p>
    <p>
      The name 'Enliven' was itself a great choice made by Sapna. I believed the definition for the name followed by the word ticker does an apt justice
      to the creativity of the firm while showcasing the services provided.
    </p>
    <p class="text-center image-container">
      <img src="./assets/images/enliven/enliven_landing.gif" alt="" class="img-fluid">
    </p>


  </div>
</div>
</div>
