<div class="card">
  <div class="card-block">
    <div class="card-title">
      <h4 class="card-title">Breakthrough Group (Realty) <small>| Design and Development</small></h4>
      <p><span style="text-transform:lowercase;">Owner: </span>Sagar Jadhav</p>
    </div>
    <button class="btn" (click)= "stateChange()" hidden>test click</button>

    <div class="card-text" style="padding-right:40px;">
      <p style="font-weight:800; font-size:15px;">Background:</p>
      <p>
        Built for a startup that aspired to enter the real-estate market. The client requested the website to be minimalistic
        and concise to the content hosted on it.
      </p>
      <p>
        HTML and CSS3 based markup with SCSS as pre-processor. <br>
        PHP (phpmailer) was used for form submission
      </p>

      <app-mock-images [images]=images [mockImages]=mockImages [projectName]=projectName></app-mock-images>

    </div>
  </div>
</div>
