<div class="card">
  <div class="card-block">
    <div class="card-title">
      <h4 class="card-title">Jason Gensler's 670G Experience <small>| Design and Development</small></h4>
      <p><span style="text-transform:lowercase;">Owner: </span>Jason Gensler</p>
    </div>
    <button class="btn" (click)= "stateChange()" hidden>test click</button>

    <div class="card-text" style="padding-right:40px;">
      <p style="font-weight:800; font-size:15px;">Background:</p>
      <p>
        Jason Gensler is a Type 1 Diabetes patient and aspires to be a guide to the people who are new to the world of Type 1 Diabetes.
        He is successfully leading a Type 1 community on Facebook whose objective is to bring the people together in order to help each other strive and battle the diabetes easily than ever. <br>
        This website was built to showcase his experience with Medtronic's 670G artificial pancreas.
      </p>
      <p>
        HTML and CSS3 based markup with Less as pre-processor. <br>
        PHP ws used to modularise the entire markup.
      </p>

      <app-mock-images [images]=images [mockImages]=mockImages></app-mock-images>

    </div>
  </div>
</div>
