
      <div class="card-title">
        <h4 class="card-title">CIRCLEFRAME PRODUCTIONS <small>| Design and Development</small></h4>
        <p><span style="text-transform:lowercase;">Owner: </span>Vishal Kadam</p>
      </div>

      <div class="card-text" style="padding-right:40px;">
        <p style="font-weight:800; font-size:15px;">Background:</p>
        <p>
          Built for a professional photographer to showcase his work, this website
          was another small scale portfolio website. <br>
          The objective was to have a front page that displays number of categories to choose from
          and a contact form to reach out to the photographer/owener of the site.
        </p>
        <p>
          HTML and CSS3 based markup with SCSS as pre-processor. <br>
          PHP (phpmailer) was used for form submission
        </p>

        <app-mock-images [images]=images [mockImages]=mockImages [projectName]=projectName></app-mock-images>

      </div>
