<div class="card">
  <div class="card-block">
    <div class="card-title">
      <h4 class="card-title">Chaitanya's Personal Website <small>| Concept</small></h4>
      <p><span style="text-transform:lowercase;">Owner: </span>Chaitanya Bhaidkar</p>
    </div>

    <div class="card-text" style="padding-right:40px;">
      <p style="font-weight:800; font-size:15px;">Background:</p>
      <p>
        Chaitanya is a prodigal guitarist located in Mumbai, India.
      </p>
      <p>
        The idea was to build a landing page suitable to what Chaitanya does for a living. The choice of this design is appropriate because
        it showcases his work well with links for videos, his SoundCloud, and also his other social media. <br>
        With a landing page that spans the entire screen, I can either build this website to either be a single paged one or multi-paged one.
      </p>
      <p class="text-center image-container">
        <img src="./assets/images/chaitu/chaitu_landing.gif" alt="" class="img-fluid">
      </p>


    </div>
  </div>
</div>
