<div class="card">
  <div class="card-block">
    <div class="card-title">
      <h4 class="card-title">Powerfully Passionate Philanthropy <small>| Design and Development</small></h4>
      <p><span style="text-transform:lowercase;">Owner: </span>Jason Gensler & John Sedillo</p>
    </div>

    <div class="card-text" style="padding-right:40px;">
      <p style="font-weight:800; font-size:15px;">Background:</p>
      <p>
        An initiative of Jason Gensler and John Sedillo, Powerfully Passionate Philanthropy is about creating a sustainable and scalable model that allows nonprofits to solve problems, in their local communities while generating proceeds for their established cause.
      </p>
      <p>
        HTML and CSS3 based markup with Less as pre-processor. <br>
        This website features a full-screen abckground video with the SVG logo animation.
      </p>
      <p><a href="http://ppphilanthropy.org/">http://ppphilanthropy.org/</a></p>

      <app-mock-images [images]=images [mockImages]=mockImages></app-mock-images>

    </div>
  </div>
</div>
