<div class="card card_gutter">
  <div class="card-block" id="">
    <h4 class="card-title"><span class="fa fa-fw fa-briefcase"></span> Experience</h4>
    <div class="card-text">

      <div class="info_block">
        <p class="h5 subhead">
          Research Associate <small class="text-muted">Miracle Software Systems</small><br>
          <span class="info_duration_date">Sept 2015 - May 2017</span>
        </p>
        <ul>
          <li>Currently working on industrial ChatBots - Powered by the MEAN stack and Google's API ai while parallelly leading the front-end development of an IoT based project.</li>
          <br><span>So far I have:</span>
          <li>Transitioned out of the two-week training program within 5 days leading to project assignment due to a great performance during training.</li>
          <li>Handled the server-side, API, and front-end development by self with effective communication and collaboration between offshore AI and SAP teams.</li>
          <li>Contributed immensely towards UI Design and Design Mockups in both of these projects.</li>
        </ul>

      </div>

      <div class="info_block">
        <p class="h5 subhead">
          IT Help Desk Representative <small class="text-muted">Southern Methodist University</small><br>
          <span class="info_duration_date">Sept 2015 - May 2017</span>
        </p>
        <p>
          • Provide front line help desk support to entire campus community - faculty, staff, students, retirees, parents and prospective students <br>
          • Assist with network configurations, software troubleshooting, email support and configuration for all kinds of devices <br>
          • Provide exceptional service and resolve issues in a timely manner <br>
          • Use remote tools and shared knowledge base to help provide resolutions to reported issues <br>
          • Document all requests for assistance in the Help Desk Software using tickets <br>
        </p>

      </div>

      <div class="info_block">
        <p class="h5 subhead">
          Full Stack Developer <small class="text-muted">Enliven Art Studio</small><br>
          <span class="info_duration_date">Aug 2014 - Apr 2015</span>
        </p>
        <p>
          • Designed and developed a number of websites on a contract basis. <br>
          • Keeping the current device requirements in the mind, these websites were built to be responsive with extensive use of frameworks like Bootstrap and Foundation. <br>
          • Relied heavily on Less(css) for styling due to its compatibility with Bootstrap. <br>
          • The development was up to the mark with current web development standards. <br>
          • Played an important role in client communication, including understanding the requirements and design decisions. <br>
        </p>
      </div>

      <div class="info_block">
        <p class="h5 subhead">
          Front End and JavaScript Developer <small class="text-muted">Palmate Solutions</small><br>
          <span class="info_duration_date">Apr 2014 - Aug 2014</span>
        </p>
        <p>
          • Worked on developing a PHP-based eCommerce portal. <br>
          • Extensively used technologies like Laravel and Grunt to set-up a streamlined flow of development and automation. <br>
          • Used Sass(css) for styling. <br>
          • Used Git for version control and collaboration. <br>
          • Used jQuery and its plugins on large scale for the interactive User Interface. <br>
          • Created a responsive WordPress theme and website. <br>
        </p>
      </div>

    </div>
  </div>
</div>
