<div class="card main-card">
  <img class="card-img-top img-fluid" style="border-radius:0px;" src="assets/images/shrdp.jpg" alt="Card image cap">
  <div class="card-block">
    <p class="card-title">
      <span class="firstname" id="firstname_sidebar">shrikar</span><br>
      <span class="lastname">chonkar</span>
    </p>
    <div class="card-text">
      <app-info-para></app-info-para>
      <hr>
      <div class="links">
        <p>
          <fa name="github" fixed="true"></fa>
          <a href="https://github.com/shrikarch" class="linktext hvr-underline-from-left" target="_blank"> github.com/shrikarch</a> <br>
          <fa name="linkedin" fixed="true"></fa>
          <a href="https://www.linkedin.com/in/shrikarchonkar" class="linktext hvr-underline-from-left" target="_blank"> /in/shrikarchonkar</a>
        </p>
      </div>
      <hr>
      <app-skills-section></app-skills-section>


    </div>
  </div>
</div>
<app-sidebar-to-do></app-sidebar-to-do>
