:host /deep/ .each_project{
  .card-title{
    margin-bottom: 0px;
  }
  .mockups{
    margin-top: 30px;
    .card-columns {
      .card{display: inline-block};
      column-count: 3;
    }
  }
  .screens{
    .img-caption{
      margin-bottom: 15px;
    }
    .card-columns {
      padding: 3px;
      column-count: 2;
      .card{
        //box-shadow: none;
        box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16)
        //border: 1px solid #ccc;
      }
    }
    margin-top: 40px;
  }
  .mockups, .screens{
    .subHead{font-weight: 800; font-size: 15px;}
    .img-caption{
      text-align: center;
      margin-top: 5px;
    }
    // img {
    //   transition: opacity 1s;
    //   opacity: 0;
    //   transform: translateY(10px);
    // }
    // img.ng-lazyloaded {
    //   opacity: 1;
    //   transform: translateY(0px);
    //   //border: 1px solid yellow;
    // }

    img {
            // min-width: 1497px;
            // width: 100%;
            // min-height: 1127px;
            text-align: center;
        }
        img.ng-lazyloaded {
            animation: fadein .5s;
            //thumbnail
            padding: .25rem;
            border: 1px solid #ddd;
            border-right: .25rem;
            max-width: 100%;
        }
        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

  }


  } //each project ends

  .portfolio_navigation{
    line-height: 50px;
    margin: 30px 0px;
    a{
      text-decoration: none;
      padding: 10px;
      color: lighten(#333, 40%);
      background-color: #fff;
      border: 2px solid #eee;
      -webkit-transition: border 0.3s;
      -moz-transition: border 0.3s;
      -o-transition: border 0.3s;
      transition: border 0.3s;
      font-weight: 600;
      &:hover{
        border: 2px solid #aaa;
      }
    }
    .portfolio_navigation_active{
      color: #333;
      font-weight: 600;
      border: 2px solid #666;
    }
  }

  //===========
  .mixin-hover-transition(){
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .each-portfolio-entry{
    a:hover{
      text-decoration: none;
    }
    .each-entry-inner{
      border: 1px dotted #ccc;
      padding: 80px 0px 50px 0px;
      margin: 10px 0px;
      cursor: pointer;
      .each-entry-header{
        color: #fff;
        margin:0px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        transform: translateY(55px);
        position: relative;
        z-index: 50;
        .mixin-hover-transition();
      }
    .each-entry-short-desc{
      border-top: 1px solid #f5f5dc;
      color: #f5f5dc;
      margin:20px 20px;
      padding:20px;
      opacity: 0;
      .mixin-hover-transition();
    }

    //each-entry-inner:hover
    &:hover .each-entry-header{
      transform: translateY(0px);
      color: #f5f5dc;
      opacity: 1;
    }
    &:hover .each-entry-short-desc{
      opacity: 1;
    }
  }
}
.backButton{
  // position: relative;
  // transform: translateY(30px);
  a{
    color: #333;
    &:hover{
      color: #888;
    }
  }
}
