<section class="all_projects">
  <div class="card-block">
    <a [routerLink]="['/portfolio','circleframe']">CircleframeComponent</a>
    <br><a [routerLink]="['/portfolio','sharpenerinc']">Sharpenerinc</a>
  </div>
  <router-outlet></router-outlet>


  <div class="hidden">
    <div class="card-block">
      <div class="row" style="margin-bottom:15px;">
        <div class="col-md-4">
          <figure class="imghvr-fade image-grid-item">
            <img src="https://unsplash.it/500/?image=1050" alt="" class="img-fluid">
            <figcaption>
              <p class="folio-image-inner-text">
                Circleframe <br> Productions

              </p>
              <p><small>Owner:</small> <br>Vishal Kadam</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-4">
          <figure class="imghvr-fade image-grid-item">
            <img src="https://unsplash.it/500/?image=1050" alt="">
            <figcaption style="background-color:rgba(0,0,0,0.2);">
              <p class="folio-image-inner-text">
                ProductClicker
              </p>
              <p><small>Owner:</small> <br>Vishal Kadam</p>
            </figcaption>
          </figure>
        </div>

        <div class="col-md-4">
          <figure class="imghvr-fade image-grid-item">
            <img src="https://unsplash.it/500/?image=1050" alt="" class="img-fluid image-grid-item">
            <figcaption style="background-color:rgba(0,0,0,0.2);">
              <p>President  lreoem ipsum</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="row" style="margin-bottom:15px;">
        <div class="col-md-4">
          <img src="https://unsplash.it/500/?image=1000" alt="" class="img-fluid image-grid-item">
        </div>
        <div class="col-md-4">
          <img src="https://unsplash.it/500/?image=1050" alt="" class="img-fluid image-grid-item">
        </div>

        <div class="col-md-4">
          <img src="https://unsplash.it/500/?image=600" alt="" class="img-fluid image-grid-item">
        </div>
      </div>

    </div>
  </div>
</section>
