<div class="card">
  <div class="card-block">
    <div class="card-title">
      <h4 class="card-title">Sharpener Inc. <small>| Development</small></h4>
      <p><span style="text-transform:lowercase;">Owners: </span>Hetal Ajmera, Bianca D’sa</p>
    </div>

    <div class="card-text" style="padding-right:40px;">
      <p style="font-weight:800; font-size:15px;">Background:</p>
      <p>
        Developed for a pair of designers to showcase their work, the website follows a minimal and responsive design.
        The design of the website was provided by clients.
      </p>
      <p>
        HTML and pure CSS3 based based design with Foundation as a framework.  <br>
        PHP (phpmailer) was used for form submission and jquery Validation Engine for form validation.
      </p>
      <p class="small strong">All the artwork belongs to <a href="www.sharpenerinc.com">sharpenerinc.com</a> and remains their property.</p>

      <app-mock-images [images]=images [mockImages]=mockImages [projectName]=projectName></app-mock-images>

    </div>
  </div>
</div>
