/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800,900|Roboto:300');

@raleway: 'Raleway',sans-serif;
@roboto: 'Roboto',sans-serif;
@primary_color: #231f20;
@grey: #808285;
@beige: #f5f5dc;
@right_section_links: #c39325;
//sky blue: #5DA4D9;

@import "underline-from-left";

html,
body {
    height: 100%;
    width: 100%;
    font-family: @raleway;
    color: lighten(@primary_color,20%);
}

.mainHeader {
    font-weight: 800;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.container {
    //padding: 0px;
}

.card_gutter{
    margin-bottom: 30px;
}
.tag1{
                margin: 0px;
                padding: 8px 10px 8px 0px;
                color: dimgrey;
                font-size: 12px;
                /*                -webkit-transition: border-radius 0.5s; */
            }

.card {
    border-radius: 0px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: 0px;
    .card-title {
        font-family: @raleway;
        font-weight: 600;
        text-transform: uppercase;
    }
    .card-text {
        font-family: @roboto;
    }
}

.left_section{
    .main-card {
        hr{
            border-top: 1px solid lighten(@primary_color,30%);
        }
        .card-block {
            background-color: @primary_color;
            color: beige;
            .card-title{
                font-size: 30px;
                font-weight: 800;
                line-height: 25px;
                .lastname{
                    color:@grey;
                }
            }
            .card-text{
                .about_section{
                    p{
                        margin-bottom: 8px;
                    }
                }
                .links{
                    line-height: 40px;
                }
                a{
                    color: beige;
                    text-decoration: none;
                }
                .skill{
                    padding-bottom: 30px;
                    .progress{
                        background-color: rgba(255,255,255,.15);
                        .progress-bar{
                            background-color: beige;
                        }
                    }
                }
            }
        }
    }
}

.right_section{
    .buttons{
        margin-bottom: 15px;
        .top_link{
            padding: 15px;
            color: lighten(#333,20%);
        }
        a, a:hover, a:active, a:visited, a:focus {
            text-decoration:none;
        }
        .active_top_link{
            color: #666;
            font-weight: 600;
            border-bottom: 2px solid #999;
        }
    }
    .card-title{
        margin-bottom: 20px;
        margin-left: -8px;
    }
    .card-text{
        a{
            text-decoration: none;
        }
        .info_block{
            margin-bottom: 20px;
            .subhead{
                border-bottom:1px solid #ddd;
                padding-bottom:10px;
                font-weight: 800;
                .info_duration_date{
                    font-size: 12px;
                }
            }
            p:not(:first-of-type){
                margin-bottom: 5px;
            }
            .code_sources{
                color: @right_section_links;
                -webkit-transition: color 0.5s;
                -moz-transition: color 0.5s;
                -o-transition: color 0.5s;
                transition: color 0.5s;
            }
            .code_sources:hover{
                color: darken(@right_section_links,50%);
            }
        }
    }
    .show_more_block{
        .btn{
            cursor: pointer;
        }
    }
}



.tags {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 10px 0px;
}
.image-grid-item{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: @primary_color;
    cursor: pointer;
    figcaption{
        background-color: @primary_color;

    }
    .folio-image-inner-text{
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
    }
}

// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) {  }
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }


// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {
    .container {
        padding:0;
        margin:0;
    }

    body {
        padding:0;
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .right_section{
        .card-title{
            margin-left: 0px;
        }
        .card-text{
            padding-left: 40px;
        }
    }
}


// Large devices (desktops, 992px and down)
@media (max-width: 992px) { }
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}


// Extra large devices (large desktops, 1200px and Down)
@media (max-width: 1200px) { .container { width: auto; } }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container {
        padding: 25px 50px;
        //padding-top: 25px;
    }
}
