
  <div class="card card_gutter" id="card_project">
    <div class="card-block">
      <h4 class="card-title"><fa name="code-fork" fixed="true"></fa> Projects</h4>
      <div class="card-text">
        <div class="info_block">
          <p class="h5 subhead">
            Support ticket system using Elixir
            <br>
            <span class="info_duration_date">Spring 2016 | Team Size: Solo<br>
              <a class="code_sources " href="https://github.com/shrikarch/elixir_loadBalancer" target="_blank">Source on <span class="fa fa-fw fa-github"></span>Github</a>
            </span>
          </p>
          <div class="tags">
            <a class="tag1" href="#"><fa name="hashtag"></fa>Elixir</a>
            <a class="tag1" href="#"><fa name="hashtag"></fa>Phoenix</a>
          </div>
          <p>
            Created a ticketing system based on Elixir (programming language) and Phoenix (framework) that supported multi-user interface. The multiple users were handled by taking advantage of processes in Elixir. (Process for each user). <br>
            Keeping the distributed deployment in mind the application was made fail proof using supervisors and would route the ticket to the least busy representative.
          </p>
          <span id="skills_trigger" class="hidden-sm-down"></span>
          <a class="small code_sources" href="https://github.com/shrikarch?utf8=%E2%9C%93&tab=repositories&q=&type=&language=elixir" target="_blank" id="elixir_github">View my other Elixir projects and assignments on Github</a>
        </div>

        <div class="excess_on_sm">
          <div class="info_block">
            <p class="h5 subhead">
              Wireless Sensor Network using Python to find the network backbone.
              <br>
              <span class="info_duration_date">Spring 2016 | Team Size: Solo<br>
                <a class="code_sources hidden" href="https://devpost.com/software/smart-mirror-9v0pc7#updates" target="_blank">Published on <span class="fa fa-fw fa-code"></span>Devpost</a>
              </span>

            </p>
            <div class="tags">
              <a class="tag1" href="#"><fa name="hashtag"></fa>Python</a>
              <a class="tag1" href="#"><fa name="hashtag"></fa>NetworkX</a>
              <a class="tag1" href="#"><fa name="hashtag"></fa>RandomGeometricGraphs</a>
              <a class="tag1" href="#"><fa name="hashtag"></fa>SensorNetworks</a>
              <a class="tag1" href="#"><fa name="hashtag"></fa>Algorithms</a>
            </div>
            <p>
              A small scale project made within 24 hours at HackDFW that earned us an opportunity to enter an accelerator program for start-ups. <br>
              The whole mirror was made from merely a few things: Used cereal boxes, a wood frame, an acrylic sheet with reflective coating, an LED monitor and a Raspberry Pie! <br>
              The interface was designed in HTML5 and was based on meteor.js with multiple APIs used to serve the data like live stocks, emails, tweets and weather and was controlled by voice. <br>
              JavaScript library 'annyang!' was used for voice recognition.
            </p>

          </div>

          <div class="info_block">
            <p class="h5 subhead">
              Smart Mirror at HackDFW
              <br>
              <span class="info_duration_date">April 2016 | Team Size: 5<br>
                <a class="code_sources" href="https://devpost.com/software/smart-mirror-9v0pc7#updates" target="_blank">Published on <span class="fa fa-fw fa-code"></span>Devpost</a>
              </span>

            </p>
            <div class="tags">
              <a class="tag1" href="#"><fa name="hashtag"></fa>HackDFW16</a>
              <a class="tag1" href="#"><fa name="hashtag"></fa>MeteorJs</a>
              <a class="tag1" href="#"><fa name="hashtag"></fa>VoiceOperated</a>
              <a class="tag1" href="#"><fa name="hashtag"></fa>HTML/CSS</a>
              <a class="tag1" href="#"><fa name="hashtag"></fa>RaspberryPi</a>
            </div>
            <p>
              A small scale project made within 24 hours at HackDFW that earned us an opportunity to enter an accelerator program for start-ups. <br>
              The whole mirror was made from merely a few things: Used cereal boxes, a wood frame, an acrylic sheet with reflective coating, an LED monitor and a Raspberry Pie! <br>
              The interface was designed in HTML5 and was based on meteor.js with multiple APIs used to serve the data like live stocks, emails, tweets and weather and was controlled by voice. <br>
              JavaScript library 'annyang!' was used for voice recognition.
            </p>

          </div>

          <div class="info_block">
            <p class="h5 subhead">
              Simulating an Operating System
              <br>
              <span class="info_duration_date">April 2016 | Team Size: Solo<br>
                <a class="code_sources " href="https://github.com/shrikarch/Simulated_OS" target="_blank">Source on <span class="fa fa-fw fa-github"></span>Github</a>
              </span>
            </p>
            <div class="tags">
              <a class="tag1" href="#"><fa name="hashtag"></fa>JavaScript</a>
              <a class="tag1" href="#"><fa name="hashtag"></fa>MemoryManagement</a>
              <a class="tag1" href="#"><fa name="hashtag"></fa>ProcessScheduling</a>
              <a class="tag1" href="#"><fa name="hashtag"></fa>inquirer</a>
              <a class="tag1" href="#"><fa name="hashtag"></fa>NodeJs</a>
            </div>
            <p>
              As a part of a class based on Operating System, this project was created to simulate and show memory allocation, memory management and process scheduling in Operating Systems. While the preferred choice of language for majority students in the class was Java or C++, I decided to do it in JavaScript based on NodeJs.
            </p>

          </div>

          <div class="info_block">
            <p class="h5 subhead">
              Data and Visualization, clustering, association mining and classification of a graduation rate data set
              <br>
              <span class="info_duration_date">April 2016 | Team Size: Solo</span>
            </p>
            <div class="tags">
              <a class="tag1" href=""><fa name="hashtag"></fa>R</a>
              <a class="tag1" href=""><fa name="hashtag"></fa>DataMining</a>
            </div>
            <p>
              As a part of a class based on Operating System, this project was created to simulate and show memory allocation, memory management and process scheduling in Operating Systems. While the preferred choice of language for majority students in the class was Java or C++, I decided to do it in JavaScript based on NodeJs.
            </p>

          </div>

          <div class="info_block">
            <p class="h5 subhead">
              Information System using Dart and MongoDB
              <br>
              <span class="info_duration_date">April 2016 | Team Size: 2</span>
            </p>
            <div class="tags">
              <a class="tag1" href=""><fa name="hashtag"></fa>Dart</a>
              <a class="tag1" href=""><fa name="hashtag"></fa>AngularJs</a>
              <a class="tag1" href=""><fa name="hashtag"></fa>HTML/CSS</a>
              <a class="tag1" href=""><fa name="hashtag"></fa>MongoDB</a>
              <a class="tag1" href=""><fa name="hashtag"></fa>PlatformIndependent</a>
            </div>
            <ul class="list-unstyled">
              <li>A RESTful Mobile information management system based on Dart (a programming language introduced by Google) </li>
              <li>Used AngularJs for front-end data manipulation and data-binding. </li>
              <li>Supported by MongoDB as a back end, for it's scalability.</li>
              <br>
              <li>The customer's end was available on handheld devices</li>
              <li>The kitchen end was available for monitors.</li>
              <li>Order's placed by customers would update real-time on the kitchen end.</li>
              <li>Table numbers were passed over by GET requests. Other information was passed by POST request.</li>

            </ul>

          </div>
        </div> <!--Excess on sm ends -->
        <div class="show_more_block text-center hidden-md-up hidden">
          <hr>
          <p class="btn"><span class="show_more_text"></span><span class="fa fa-fw fa-chevron-down"></span></p>
        </div>
      </div>
    </div>
  </div>
